# Dependencies
node_modules

# yarn error logs
yarn-error.log

uploads
uploads/*
uploads_backup
uploads_backup/*
src.zip
srcbackup.zip

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage
